<%- include('./templates/header.ejs') %>

<div class="p-1 position-absolute top-50 start-50 translate-middle">
    <H1 class="text-white fw-bold">404 - Not Found</H1>
    <p class="text-white">The page you are looking for does not appear to exist.</p>
</div>

<%- include('./templates/footer.ejs') %>