<%- include('./templates/header.ejs') %>
<!-- Body -->

<section class="container-md mt-5">
    <div class="row align-items-center justify-content-center">
        
        <div class="card" style="width: 100rem;">

            <div class="card-body">
                <h5 class="card-title card-header">Courses</h5>


<!-- No Courses Message -->
<div class="form-outline mb-4 p-4">
    <h4>There are no courses scheduled right now.</h4>
    <h6>Please come back later.</h6>
</div>


</div>
</div>
</section>

<!-- Body -->
<%- include('./templates/footer.ejs') %>