<%- include('./templates/header.ejs') %>





    <section class="container-md mt-5">
        <div class="row align-items-center justify-content-center">
            
            <div class="card" style="width: 25rem;">

                <div class="card-body">
                    <h5 class="card-title card-header">Log In</h5>
                    
                    <div class="input-group mb-3 pt-4">
                        <span class="input-group-text">Email Address</span>
                        <input type="text" 
                        class="form-control" 
                        aria-label="Sizing example input" 
                        aria-describedby="inputGroup-sizing-default"
                        required>
                    </div>

                    <div class="input-group mb-3 pb-4">
                        <span class="input-group-text">Password</span>
                        <input type="password" 
                        class="form-control" 
                        aria-label="Sizing example input" 
                        aria-describedby="inputGroup-sizing-default"
                        required>
                    </div>
        
                    <button type="button" class="btn btn-outline-success">Log In</button>
        
                    <div class="content redirect pt-4">
                        <p>Don't have an account?<br>
                        <a href="/login/signup">Sign in <strong>here</strong>.</a></p>
                    </div>
                                
                </div>
            </div>
        </div>


    </section>

   
        


<%- include('./templates/footer.ejs') %>