@import url('https://fonts.googleapis.com/css?family=Trirong');

body {
    margin: 0px;
    background-color: rgb(87, 87, 87);
  font-family: 'Trirong', serif;
}


h2 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
}


a {
  text-decoration: none;
  color: #048802;
}

a:hover {
  color: #005980;
}

a:active {
  color: black;
}

p {
  font-size: 20px;
}

.navbar {
    background-color: rgb(0, 99, 50);
    border-bottom-style: solid;
    font-size: 20px;
};

/*  I have no clue why it is doing this... 
    But I need to say footer twice or else it doesn't work... 
    The first one does nothing too. 
    It's really weird.  */
footer { display: none;}

footer {
    background-color: rgb(0, 65, 33);
    text-align: center;
    color: rgb(175, 175, 175);
    padding: 20px;
    border-top-style: solid;
    border-top-color: rgb(35, 35, 35);
    border-top-width: 3px;
}

.card {
  margin-bottom: 120px;
}

.clickable:hover {
    cursor: pointer;
}

.delete {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.update {
    padding: 20px;
  font-size: 20px;
  font-weight: bold;
}